<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Acceso restringido</title>
        <link rel=icon href="../assets/img/agenda.png" sizes="16x16" type="image/png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .stop{
                font-weight: bold;
                font-size: 38px;
            }
            p{
                text-align: center;
            }
            img{
                width: 20%;
                margin: 0% 40%;
            }
        </style>
    </head>
    <body>
        <div>
            <p class="stop">Acceso restingido.</p>
                <p>Para poder acceder, consulte con el administrador del sistema.</p>
            <img alt="acceso restringido" src="../assets/img/restringido.jpg" title="acceso restringido"/>
        </div>
    </body>
</html>
